@import "tailwindcss";
@import "tw-animate-css";


:root {
  --brand-primary: #003366; /* azul */
  --brand-accent: #fbbf24;  /* amarillo */
  --brand-light: #f3f4f6;   /* gris claro */
  --brand-gris: #404652;
}