---
import "../styles/global.css";
import Navbar from "../components/NavBar";
import Footer from "../components/Footer";
import SEO from "../components/SEO.astro";

const {
    title = "F3 Electrical Group",
    description = "Empresa especializada en proyectos eléctricos domiciliarios e industriales. Instalación de porteros automáticos, cercas eléctricas, tableros de control y mantenimiento general.",
    image = "/images/preview.jpg",
    url = ''
} = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- SEO head -->
        <SEO title={title} description={description} image={image} url={url} />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/images/logo-f3.png" />
    </head>

    <body class="bg-white text-gray-900 font-sans scroll-smooth antialiased">
        <Navbar client:load />

        <main>
            <slot />
        </main>

        <Footer />

    </body>
</html>
